<h3 class="span3">客户消费记录</h3>

<table class="table table-hover">
  <tbody>
    <tr>
    	<th>消费时间</th>
      <th>客户简称</th>
      <th>所属订单号</th>
      <th>酒店名称</th>
      <th>剩余金额</th>
      <th>消费金额</th>
    </tr>
  </tbody>
  <tbody>
  <%@cusages.each do |c|%>
		<tr>
		  <td><%= c.created_at.to_s(:db)%></td>
		  
		  <td><%=c.customer.aka%></td>
		  
		  <td><%=c.order.id%></td>
		  
		  <td><%=c.hotel.name%></td>
		  
		  <td><%=format_money c.remain%></td>
		  
		  <td><%=format_money c.cosume%></td>
		  
		</tr>
	<%end%>
	</tbody>
</table>
<%=will_paginate @cusages%>





